**
!.sd.setup
!Src/new_sage
!Terms/Admin.term
!bin/.init_user
!bin/setup_user
!bin/new_sage
!user/template/.bash_aliases
!user/template/.bash_profile
!user/template/.bashrc
!user/template/.prefs
!user/template/.trac